<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<%= render	'nav/navbar' %>
		<%= render 'layouts/flashes' %>
	
		<div class="row">
			<div class="span8 greybar mainbar">
			<%= yield %>
			</div>
			<div class="span3 greybar mainbar">
				Stories
			</div>
		</div>
		
		<div class="row">
			<div class="span12 blackbar">
				Footer Bar
			</div>
		</div>
		
	</div>
</body>
</html>
